* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(18, 81, 45);
}

.container {
    height: 300px;
    width: 500px;
    margin: 100px auto 0 auto;
    text-align: center;
    color: silver;
}

.select {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 25px;
}

#play-btn, #stop-btn {
    margin: 25px;
    border: none;
    box-shadow: 5px 5px 5px darkgreen;
    width: 4rem;
    height: 2rem;
    border-radius: 20px;
    font-size: 16px;
    background-color: greenyellow;
}